<style type="text/css">
  input {
    width: 250px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
  }

  button {
    height: 36px;
    vertical-align: top;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border-color: #57575b;
    background-color: #57575b;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
  }
</style>
<h2>Hello there!</h2>

<hr>

<%= text_field_tag :string_1, nil %>
<%= text_field_tag :string_2, nil %>
<button>Test</button>